@import "../../variables";

.row{
  margin:0 !important;
}


.weather-data{
  height: 100%;
  margin:0 auto;
  position: relative;
}

.heading-img{
  position: absolute;
  top:20px;
  left:0;
  right: 0;
  margin:0 auto;
}

.fav {
    position: absolute;
    top: 30px;
    right: 20px;
}

.fav img:hover{
  cursor:pointer;
}

.fav span{
  color:$white;
  font-size:18px;
  font-family:$biko;
  display: none;
  margin-right: 5px;

  @media screen and(min-width: 768px){
    display: inline-block;
  }
}

.one{
  padding: 25% 0 16% 0;

  @media screen and(min-width: 768px){
      padding: 20% 0 11% 0;
  }
  @media screen and(min-width: 992px){
      padding: 10% 0 6% 0;

  }
}

.one img{
  width: 200px;
  display: block;
  margin:0 auto;
  padding: 40px 0px;
}

.one h2{
  color:$green;
  font-size: 25px;
  text-transform: uppercase;
  font-family: $biko;
  line-height: 30px;
}

.one span{
  display: inline-block;
  color:$white;
  font-size: 25px;
  font-family: $biko;
  line-height: 30px;
  opacity: 0.67;
}

.one div{
  color:$green;
  font-size: 30px;
  font-family: $biko-bold;
  line-height: 37px;
}
.one div:nth-of-type(2){
  opacity: 0.63;
}

.list{
  width: 100%;
  padding-bottom: 5%;
}

.list img{
  width: 75px;
  display: block;
  margin:0 auto;
  padding: 20px 0px;
}

.list span{
  display: inline-block;
  color:$white;
  font-size: 18px;
  font-family: $biko;
  line-height: 23px;
  text-transform: uppercase;
}

.list p{
  color:$green;
  font-size: 18px;
  font-family: $biko;
  line-height: 23px;
  margin-bottom: 0.25rem;
}

.list p:nth-of-type(2){
  opacity: 0.63;
}

.temp-holder {
    margin-bottom: 40px;

    @media screen and(min-width: 992px){
      margin-bottom: 0px;

    }
}
