<section class="weather-data">
  <img class="heading-img" src="./assets/img/umbrella-screens.svg" alt="umbrella-app">
  <div class="fav"><span>Add to favourites</span><img src="./assets/img/heart.svg" alt="favourites"></div>

  <div *ngIf='retrived'>
    <div class="results one">
        <h2 class="text-center">Today</h2>
        <span *ngIf="today">{{today.city.name}}, {{today.city.country}}</span>
        <div *ngFor="let todays of today.list; let i=index">
          <ng-template [ngIf]="i<1">
            <img src="{{ todays.weather[0].id | images }}" alt="{{ todays.weather[0].description }}">
            <div>{{todays.temp.max | temperature}}</div>
            <div>{{todays.temp.min | temperature}}</div>
          </ng-template>
      </div>
    </div>
  </div>

    <div class="results list">
      <div class="row justify-content-center">
        <div *ngFor="let forecast of weather | slice:1;" class="col-md-2">
          <div class="temp-holder">
            <span>{{ forecast.dt * 1000 | date :'EEE' }}</span>
            <img src="{{ forecast.weather[0].id | images }}" alt="{{ forecast.weather[0].description }}">
            <p>{{forecast.temp.max | temperature}}</p>
            <p>{{forecast.temp.min | temperature}}</p>
          </div>
        </div>
      </div>
    </div>
</section>
