
<p class="best">Your best weather app</p>
 <ul class="mob-menu">
   <li class="nav-item"><a class="nav-link" href="#">Team</a></li>
   <li class="nav-item"><a class="nav-link" href="#">History</a></li>
   <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
 </ul>
 <div class="social">
   <p>Suggest to a friend</p>
   <ul>
     <button shareButton="facebook"><i class="fa fa-facebook"></i></button>
     <button shareButton="twitter"><i class="fa fa-twitter"></i></button>
     <button shareButton="googleplus"><i class="fa fa-google-plus"></i></button>
   </ul>
 </div>
