<section class="weather-search" class="form-group">
  <img class="heading-img" src="./assets/img/umbrella-screens.svg" alt="umbrella-app">
  <div class="fav"><span>Add to favourites</span><img src="./assets/img/heart.svg" alt="favourites"></div>
    <form (ngSubmit)="mutipleDays(input.value)">
       <div class="form-group">
        <label for="city">type a location:</label>
        <input ngControl="location" class="form-control" type="text" placeholder="type here..." id="city"  required #input >
        </div>
        <button class="btn btn-primary" type="submit"></button>
    </form>

    <div class="geo">
      <p>or give us your location</p>
      <div class="acs" (click)="getCurrentPosition()">
        <span>access location</span>
      </div>
    </div>
</section>
