
@import "../../variables";


.form-group {
  position: relative;
  margin-bottom: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.heading-img{
  position: absolute;
  top:20px;
  left:0;
  right: 0;
  margin:0 auto;
}

.fav {
    position: absolute;
    top: 30px;
    right: 20px;
}

.fav img:hover{
  cursor:pointer;
}

.fav span{
  color:$white;
  font-size:18px;
  font-family:$biko;
  display: none;
  margin-right: 5px;

  @media screen and(min-width: 768px){
    display: inline-block;
  }
}

 form{
  max-width: 305px;
  margin:0 auto;
  position: relative;
  width: 100%;

  @media screen and (min-width:480px) and (max-width: 568px){
    margin-top:100px;
  }
}

.form-control{
  border-radius: 0px;
  border:none;
  background: $lila;
  font-size: 25px;
  font-family: $biko;
  padding: 12px 60px 12px 12px;
  color:$white;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.10);
  margin-bottom: 2.25rem;

}

.form-group label, .geo p{
  color:$white;
  font-family: $biko;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 1rem;

}

.btn-primary{
  position: absolute;
  top: 53px;
  right: 10px;
  padding: 20px;
  border-radius: 0;
  background: url('../../assets/img/search.svg');
  background-repeat: no-repeat;
  background-color:$white;
  background-position: center;
  background-size: 26px 26px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.10);
}

.geo{
  @media screen and (min-width:480px) and (max-width: 568px){
    margin-bottom:20px;
  }
}

.acs{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background: url('../../assets/img/location.svg');
  background-repeat: no-repeat;
  background-position: 16px center;
  background-color: $green;
  max-width: 250px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.10);

  &:hover{
    cursor: pointer;
  }

}

.acs span{
  color: $lila;
  font-family: $biko;
  font-size: 25px;
  line-height: 30px;
  display: inline-block;
  padding-left: 40px;
}

.form-control::placeholder{
  color: rgba(255,255,255, 0.5) !important;
}

.form-control:-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(255,255,255, 0.5) !important;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(255,255,255, 0.5) !important;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(255,255,255, 0.5) !important;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(255,255,255, 0.5) !important;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(255,255,255, 0.5) !important;
}
