<!--The whole content below can be removed with the new code.-->

  <main id="theanchor" style="text-align:center">
    <div class="container-fluid home-con">
      <div class="row home-con">
      <app-sidemenu [@slideInOut]="menuState" (click)="toggleMenu()"></app-sidemenu>
        <button class="hamburger hamburger--squeeze" type="button"
          aria-label="Menu" aria-controls="navigation" (click)="toggleMenu()" [class.active]="isActive">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <router-outlet></router-outlet>
     </div>
   </div>
   </main>
