/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: 'Biko';
	src: url('./assets/fonts/Biko.eot');
	src: url('./assets/fonts/Biko.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Biko.woff') format('woff'),
		url('./assets/fonts/Biko.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Biko-Black';
	src: url('./assets/fonts/Biko-Black.eot');
	src: url('./assets/fonts/Biko-Black.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Biko-Black.woff') format('woff'),
		url('./assets/fonts/Biko-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Biko-Light';
	src: url('./assets/fonts/Biko-Light.eot');
	src: url('./assets/fonts/Biko-Light.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Biko-Light.woff') format('woff'),
		url('./assets/fonts/Biko-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Biko-Bold';
	src: url('./assets/fonts/Biko-Bold.eot');
	src: url('./assets/fonts/Biko-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Biko-Bold.woff') format('woff'),
		url('./assets/fonts/Biko-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@import "./variables";

html,
body {
    height: 100%;
    min-height: 100%;
}


a:hover, a:focus{
  text-decoration: none !important;
}

a:hover{
  cursor: pointer;
}

button:hover{
  cursor:pointer;
}

a:focus, button:focus{
  outline:none;
}

button:focus, button:active {
   outline: none !important;
}

ul{
  margin:0;
  padding: 0;
}

li{
  list-style-type: none;
}

main{
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}


.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 33px;
  height: 21px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 33px;
  height: 2px;
  background-color: $green;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger{
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 9999;

	@media screen and (min-width:992px){
		left: 10px;
	}
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);background-color: $lila; }
.hamburger--squeeze.active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; background-color: $lila; }
.hamburger--squeeze.active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); background-color: $lila; }


  app-sidemenu {
    background: $green;
    color: $white;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    z-index: 9999;
    height: 100%;
    padding: 100px 28px 28px 50px;
		overflow-y: scroll;



		@media screen and (min-width:992px){
			  max-width: 400px;
				padding: 12% 28px 28px 28px;
		}

		@media screen and (min-width:1280px){
				padding: 30px;
		}

		@media screen and (min-width:1600px){
				padding-top: 120px;
		}

  }

  .mob-menu li a, .best {
    font-size: 30px;
    color:$lila;
    line-height: 38px;
    font-family: $biko;
    padding: 5px 0;
    text-align: left;

		@media screen and (min-width:992px){
			  font-size: 45px;
				line-height: 53px;
		}
  }

	.mob-menu li a{
		transition: all .3s ease;
		opacity:1;
	}

	.mob-menu li a:hover{
		transition: all .3s ease;
		opacity:.67;
	}

  .best{
    color:$white;
    max-width: 160px;
		height: 210px;
		padding-top: 40px;

		@media screen and (min-width:992px){
			 height: 310px;
			 padding-top: 60px;
		}

		@media screen and (min-width:1280px){
			 padding-top: 80px;
		}

		@media screen and (min-width:1600px){
			 padding-top: 90px;
			 margin-bottom: 90px;
		}

  }

  ul.mob-menu{
    position:relative;
    padding: 40px 0px 60px 0px;
		height: 200px;

		@media screen and (min-width:992px){
			 height: 260px;
		}
		@media screen and (min-width:1600px){
			//  padding-top: 90px;
		}

    &:before{
      content: '';
      width: 55px;
      height: 4px;
      background: $lila;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

	.social{

		@media screen and (min-width:1600px){
			position: absolute;
			bottom: 50px;
		}
	}

	.social ul{
		text-align: left;
	}

	.social p{
		color:$lila;
		text-align: left;
		font-size: 20px;
		font-family: $biko;
		line-height: 35px;

		@media screen and (min-width:992px){
				font-size: 25px;
				line-height: 30px;
		}
	}

  .social ul button{
    display: inline-block;

    i{
      display: block;
      font-size: 32px;
      color:$lila;
			margin-right: 5px;
			transition:all .3s ease;
			opacity: 1;

			@media screen and (min-width:992px){
					margin-right: 10px;
					font-size: 42px;
			}

			&:hover{
				opacity: .67;
				transition:all .3s ease;
			}
    }
  }

	.social ul button{
		background: transparent;
		border: 0;
	}

	.social ul button:last-child i{
		margin-right: 0;
	}

app-landing, app-results {
	position: fixed;
  height: 100%;
  width: 100%;
	box-sizing:border-box;
}

app-landing{
	background: $orange;

	@media screen and (min-width:480px) and (max-width: 568px){
    overflow-y: scroll;
  }
}
app-results{
	background: $lila;
	overflow-y: scroll;
}
